@font-face {
    font-style: normal;
    font-weight: 400;
    src: url('https://apify.com/fonts/Gt-Walsheim-Regular.ttf') format('truetype');
    font-family: 'Walsheim Regular';
    font-display: swap;
}

:root {
    @apply antialiased;
}

::selection {
    @apply bg-selection text-selection-text shadow-none dark:bg-selection-dark dark:text-selection-text-dark;
}

body {
    @apply text-[11pt] text-text antialiased dark:text-text-dark;
}

a {
    @apply text-primary selection:bg-primary hover:text-primary-hover dark:text-primary-dark dark:selection:bg-primary-dark dark:hover:text-primary-dark-hover;
}
