---
import strings from '../../strings.mjs';
import Banner from '../components/Banner.astro';
import MDXWrapper from '../components/MDXWrapper.astro';
import Modal from '../components/Modal.astro';
import Content from '../content/pages/ideas.mdx';
import Layout from '../layouts/Layout.astro';
---

<Layout
    title={`Sandbox for Various Ideas • ${strings.title}`}
    description="Here you can find random ideas and notes, in no particular order, relevance, or promise they will be implemented."
    ogImage="https://whitepaper.actor/opengraph.png"
    permalink={Astro.url.toString()}
    showTOC={false}
>
    <Banner />

    <div class="mdx-content mx-auto max-w-screen-lg">
        <MDXWrapper>
            <Content />
        </MDXWrapper>
    </div>

    <Modal />
</Layout>
