---
import strings from '../../strings.mjs';
import Content from '../content/pages/index.mdx';
import Layout from '../layouts/Layout.astro';
import CodeSwitcher from '../components/CodeSwitcher.astro';
import CodeExample from '../components/CodeExample.astro';
import MDXWrapper from '../components/MDXWrapper.astro';

const components = {
    CodeSwitcher,
    CodeExample
};
---

<Layout title={strings.title} description={strings.description} permalink={Astro.url.toString()}>
    <header aria-label="Hero" role="banner" class="-mx-8 h-[66vh] select-none">
        <iframe src="https://my.spline.design/home-5697816bede77960b20644406d861c3f/" width="100%" height="100%" title="Home "></iframe>
    </header>

    <div class="mdx-content mx-auto max-w-screen-lg">
        <MDXWrapper>
            <Content components={components} />
        </MDXWrapper>
    </div>
</Layout>
