---
import strings from '../../strings.mjs';
import MDXWrapper from '../components/MDXWrapper.astro';
import Content from '../content/pages/index.mdx';
import Layout from '../layouts/Layout.astro';

---

<Layout title={strings.title} description={strings.description} permalink={Astro.url.toString()}>
    <header id="hero" aria-label="Hero" role="banner" class="-mx-8 h-[66vh] select-none">
        <iframe
            src="https://my.spline.design/home-5697816bede77960b20644406d861c3f/"
            width="100%"
            height="100%"
            title="Home "></iframe>
    </header>

    <div class="mdx-content mx-auto max-w-screen-lg">
        <MDXWrapper>
            <Content />
        </MDXWrapper>
    </div>
</Layout>
