---
import strings from '../../strings.mjs';
import Banner from '../components/Banner.astro';
import MDXWrapper from '../components/MDXWrapper.astro';
import Modal from '../components/Modal.astro';
import Content from '../content/pages/input-schema.mdx';
import Layout from '../layouts/Layout.astro';
---

<Layout
    title={`Actor Input Schema File Specification 1.0 • ${strings.title}`}
    description="This JSON file defines the schema and description of the input object accepted by the Actor."
    ogImage="https://whitepaper.actor/opengraph.png"
    permalink={Astro.url.toString()}
    showTOC={false}
>
    <Banner />

    <div class="mdx-content mx-auto max-w-screen-lg">
        <MDXWrapper>
            <Content />
        </MDXWrapper>
    </div>

    <Modal />
</Layout>
