---
import NavBarItem from './NavBarItem.astro';
---

<div>
    <section role="navigation">
        <div class="wrapper">
            <NavBarItem href="/" label="Home" />
        </div>
    </section>
</div>

<style lang="scss">
    @import '../../../src/scss/mixins';

    section {
        @include user-select;
        @include meta;

        & {
            display: flex;
            position: fixed;
            top: 0;
            place-content: center;
            z-index: 1000;
            backdrop-filter: blur(40px);
            -webkit-backdrop-filter: blur(40px);
            box-shadow: 0 1px 0 0 var(--separator);
            background-color: var(--navbar-bg-color);
            width: 100vw;
        }

        @media (prefers-reduced-transparency: reduce) {
            backdrop-filter: none;
            -webkit-backdrop-filter: none;
            // [NOTE] The background color is specified in _settings.scss
        }
    }

    .wrapper {
        @include content-padder;

        display: flex;
        align-items: center;
        gap: var(--gap);
        margin: 0;
        width: 100%;
        height: var(--navbar-height);
        list-style: none;
    }
</style>
