---
const { href, label } = Astro.props;
---

<a href={href} data-astro-prefetch>{label}</a>

<style lang="scss">
    a {
        display: flex;
        align-items: center;
        will-change: border-bottom;
        margin: 0 calc(var(--gap) / -2); // hit area overflow
        border-bottom: 3px solid transparent;
        padding-top: 2px; // fix the vertical alignment
        padding-right: calc(var(--gap) / 2);
        padding-left: calc(var(--gap) / 2);
        height: var(--navbar-height);
        color: var(--page-text-color);
        text-decoration: none;

        em {
            color: var(--page-secondary-text-color);
            font-style: normal;

            &::before {
                display: inline-block;
                margin: 0 0.5em;
                content: '·';
            }

            @media (max-width: 1099px) {
                display: none;
            }
        }

        &:hover,
        &:active,
        &:focus {
            color: var(--link-text-color);

            em {
                color: var(--link-secondary-text-color);
            }
        }
    }
</style>
