---
const primaryLinks = [
    { label: 'Vestibulum Magna', href: '#' },
    { label: 'Curabitur Elit', href: '#' },
    { label: 'Nullam Sagittis', href: '#' },
    { label: 'Praesent Lacinia', href: '#' }
];

const secondaryLinks = [
    { label: 'Maecenas Fermentum', href: '#' },
    { label: 'Suspendisse Rhoncus', href: '#' },
    { label: 'Vivamus Condimentum', href: '#' },
    { label: 'Etiam Euismod', href: '#' }
];
---

<footer class="mx-auto mt-auto w-full pt-16 font-medium">
    <div class="mx-auto grid max-w-[1088px] grid-cols-1 gap-8 px-8 md:grid-cols-2">
        <div>
            <ul class="space-y-2">
                {
                    primaryLinks.map(({ label, href }) => (
                        <li>
                            <a href={href}>{label}</a>
                        </li>
                    ))
                }
            </ul>
        </div>

        <div>
            <ul class="space-y-2">
                {
                    secondaryLinks.map(({ label, href }) => (
                        <li>
                            <a href={href}>{label}</a>
                        </li>
                    ))
                }
            </ul>
        </div>
    </div>
</footer>
