---
const { link, text } = Astro.props;
---

<div><a href={link} rel="me">{text}</a></div>

<style lang="scss">
    @import '../../../src/scss/mixins';

    div {
        margin-bottom: 15px;

        a {
            margin: -5px;
            border: none;
            padding: 5px;
            color: var(--page-text-color);
            text-decoration: none;
            white-space: nowrap;

            &:hover,
            &:active,
            &:focus {
                color: var(--link-text-color);
            }
        }

        @media (max-width: 809px) {
            margin-right: -10px;
            margin-bottom: 5px;
            margin-left: -10px;
            border: 1px var(--separator) solid;
            border-radius: 10px;

            a {
                display: block;
                margin: 0;
                padding: 10px 10px;

                &:hover,
                &:active,
                &:focus {
                    color: var(--page-text-color); // no hover color on mobile
                }
            }

            &:first-child {
                margin-left: 0;
                border: none;
            }
        }
    }
</style>
