---
import FooterLink from './FooterLink.astro';
---

<footer aria-label="Footer Navigation">
    <div class="wrapper">
        <section class="primary">
            <div class="title">Primary</div>

            <FooterLink link="/" text="Home" />
        </section>

        <section class="secondary">
            <div class="title">Secondary</div>
        </section>

        <section class="tertiary bullets">
            <div class="title">Tertiary</div>
        </section>
    </div>
</footer>

<style lang="scss">
    @import '../../../src/scss/mixins';

    footer {
        @include user-select;
        @include meta;

        & {
            display: flex;
            place-content: center;
            box-shadow: 8px -1px 0 0 var(--separator);
            padding-top: 20px;
            padding-bottom: 40px;
            color: var(--page-secondary-text-color);
        }

        @media (max-width: 809px) {
            margin-top: 40px;
        }

        a {
            border: none;
            color: var(--page-text-color);
        }
    }

    .wrapper {
        @include content-padder;

        & {
            display: flex;
            place-content: center space-between;
            margin-top: 60px;
            margin-bottom: 60px;
            width: 100%;
        }

        @media (max-width: 809px) {
            display: block;

            ul:first-child {
                margin-bottom: 30px;
                // Colophon is not displayed on mobile.
            }
        }

        section {
            margin: 0;
            padding: 0;
            list-style: none;

            .title {
                @include meta;

                & {
                    padding-bottom: 15px;
                    color: var(--page-secondary-text-color);
                }
            }

            &.primary {
                flex: 0 0 250px;

                @media (max-width: 809px) {
                    padding-bottom: 30px;
                }
            }

            &.secondary {
                flex: 1;
            }

            &.tertiary {
                flex: 0 0 300px;

                @media (max-width: 809px) {
                    display: none;
                }
            }
        }
    }
</style>
