@mixin button {
    @include font-metrics(0.9375rem, 1em);
    @include user-select;

    cursor: pointer;
    border: 2px var(--page-text-color) solid;
    border-radius: 16px;
    padding: 5px 13px 5px;
    color: var(--page-text-color);

    span {
        display: none;
    }

    &:hover,
    &:active,
    &:focus {
        border-color: var(--link-text-color);
        background-color: var(--link-text-color);
        color: var(--link-block-text-color);
    }

    @content;
}
