// FONTS
// -----

@mixin font-walsheim-regular($font-size: inherit, $line-height: inherit) {
    font-family:
        'Walsheim-Regular',
        -apple-system,
        system-ui,
        sans-serif;

    @include font-metrics($font-size, $line-height);

    @content;
}

// HELPER MIXINS
// -------------

@mixin font-metrics($font-size, $line-height: 1em) {
    & {
        font-size: $font-size;
        line-height: $line-height;
    }

    @content;
}

// TYPOGRAPHY ELEMENTS
// -------------------

@mixin hed($font-size: 4rem, $line-height: 0.95em, $font-size-mobile: 2.1875rem, $line-height-mobile: 1em) {
    @include font-walsheim-regular($font-size, $line-height) {
        & {
            text-wrap: balance;

            em {
                border-bottom: none !important; // there's a border-bottom coming from the general <em> styling
                color: var(--page-secondary-text-color);
                font-style: normal;
            }
        }

        @media (max-width: 809px) {
            @include font-metrics($font-size-mobile, $line-height-mobile);
        }
    }
}

@mixin meta($font-size: 0.9375rem, $line-height: 1em, $font-size-mobile: 0.84375rem, $line-height-mobile: 1em) {
    @include font-metrics($font-size, $line-height);

    @media (max-width: 809px) {
        @include font-metrics($font-size-mobile, $line-height-mobile);
    }
}
