@mixin content-padder($top: 0, $bottom: 0) {
    & {
        display: block;
        margin: $top auto $bottom;
        padding: 0 var(--page-side-padding);
        max-width: var(--page-max-width);
    }

    @content;
}

@mixin pre-footer($margin, $margin-mobile) {
    margin-bottom: $margin;

    @media (max-width: 809px) {
        margin-bottom: $margin-mobile;
    }
}

@mixin figure-container {
    display: block;
    margin-top: 10vw;
    margin-bottom: 10vw;

    @media (min-width: 1116px) {
        margin-top: 60px;
        margin-bottom: 60px;
    }
}

@mixin figure {
    border-radius: 4px;

    img,
    video {
        margin: 0 auto;
        border-radius: 4px;
    }

    figcaption,
    .caption {
        @include meta(0.9375rem, 1.5em, 0.84375rem, 1.4em);

        & {
            margin: 15px auto 0;
            padding: 0 calc(var(--page-side-padding) * 2);
            max-width: var(--page-max-width);
            color: var(--page-text-color);
            text-align: center;
            text-wrap: balance;
            white-space: normal; // .mdx-content>a disables these
        }

        @media (max-width: 809px) {
            margin-bottom: 5px; // content on mobile is too compressed (this is zero normally)
            padding-right: var(--page-side-padding);
            padding-left: var(--page-side-padding);
        }
    }
}
