@mixin icon($light-icon, $dark-icon) {
    display: inline-block;
    background-image: $light-icon;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    content: '';

    @media (prefers-color-scheme: dark) {
        background-image: $dark-icon;
    }

    :root.dark-theme-only & {
        background-image: $dark-icon;
    }
}
