@import 'mixins-typography';
@import 'mixins-layout';

body {
    background: var(--page-bg-color);
    color: var(--page-text-color);

    @include font-metrics(1.25rem, 1.5em);

    @media (max-width: 809px) {
        @include font-metrics(1.125rem, 1.4em);
    }
}

h1 {
    @include hed;
    @include content-padder(60px, 60px);

    @media (max-width: 809px) {
        margin-top: 40px;
        margin-bottom: 40px;
    }
}

h2 {
    @include hed;
    @include content-padder(1.5em, 0.5em);

    & {
        text-wrap: balance;
    }

    a {
        border-bottom-width: 3px;

        @media (max-width: 809px) {
            border-bottom-width: 2px;
        }
    }
}

h3,
h4 {
    @include hed(1.75rem, 1.1em, 1.375rem, 1.15em);
    @include content-padder(1.5em, 1em);
}

.mdx-content a {
    border-bottom: 2px solid currentColor;
    text-decoration: none;
    white-space: nowrap;

    &::selection {
        background: var(--link-text-color);
        color: var(--selection-text-color);
    }

    &:hover,
    &:active,
    &:focus {
        color: var(--link-text-color);
    }
}

.mdx-content p {
    margin: 0 0 1em;

    @include content-padder(0, 1em);
}

.mdx-content strong {
    @include font-metrics(1.125rem, 1.5em);

    @media (max-width: 809px) {
        @include font-metrics(1rem, 1.4em);
    }

    & {
        font-weight: normal;
    }
}

.mdx-content em {
    border-radius: 0.2em;
    background: var(--em-color);
    padding: 0.1em 0.2em;
    font-style: normal;
}

.mdx-content ul {
    margin-top: 0;
    padding-left: 1em;
    list-style-type: none;

    li {
        position: relative;
        margin-left: -1.5em;
        padding-left: 1.5em;

        &::before {
            position: absolute;
            left: 0;
            margin-right: 0.5em;
            content: '→';
        }

        @media (max-width: 809px) {
            margin-left: -1em;
        }
    }

    @include content-padder(0, 1em);

    @media (max-width: 809px) {
        padding-left: 42px;
    }
}

.mdx-content hr {
    margin: 60px auto;
    border: none;
    border-bottom: 2px solid var(--separator-color);
    width: 300px;
}

.mdx-content dl {
    margin: 0;
}

img {
    @include meta(0.8125rem);

    & {
        width: 100%;
        color: var(--page-secondary-text-color);
        text-decoration: none;
    }

    &:not([alt]) {
        outline: 4px dashed #f0f; // no alt defined
    }
}

figure {
    margin: 0;
    padding: 0 var(--page-side-padding);

    @media (max-width: 809px) {
        padding-right: 0;
        padding-left: 0;
    }
}

picture {
    display: block;
    line-height: 0;
}

pre {
    @include meta(0.75rem, 1.2em, 0.75rem, 1.2em);
    @include content-padder(0, 1em);

    & {
        display: inline-block;
        margin: 4px;
        border: 1px solid var(--page-secondary-text-color);
        border-radius: 6px;
        padding: 16px;
        color: var(--page-secondary-text-color);
    }
}

::selection {
    background: var(--selection-bg-color);
    color: var(--selection-text-color);

    // Hard-codes fallback text selection for issue #18, color is Chrome’s per via http://stackoverflow.com/a/16094931/864799
    text-shadow: inherit;
}

.hidden {
    position: absolute;
    margin: -1px;
    padding: 0;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: none;
}
