---
import { Head } from 'astro-capo';
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import HeadingLinks from '../components/HeadingLinks.astro';
import NavBar from '../components/NavBar.astro';
import TOC from '../components/TOC.astro';
import type { SEOMetadata } from '../types';

import '../styles/mdx-content.css';
import '../styles/tailwind.css';
import '../styles/typography.css';

type Props = SEOMetadata;

const { title, description, permalink, showTOC = true } = Astro.props;
---

<html lang="en">
    <Head>
        <BaseHead title={title} description={description} permalink={permalink} />
    </Head>

    <body class="bg-background dark:bg-background-dark flex min-h-screen flex-col pb-24">
        <NavBar />

        <main class="mx-8 mt-16">
            <slot />
        </main>

        {
            showTOC && (
                <>
                    <TOC />
                    <HeadingLinks />
                </>
            )
        }
        <Footer />
    </body>
</html>
