---
import { Head } from 'astro-capo';
import BaseHead from '../components/BaseHead.astro';
import HeadingLinks from '../components/HeadingLinks.astro';
import TOC from '../components/TOC.astro';
import CodeCopy from '../components/CodeCopy.astro';
import SmoothScroll from '../components/SmoothScroll.astro';

import '../styles/mdx-content.css';
import '../styles/tailwind.css';
import '../styles/typography.css';

const { title, description, permalink, showTOC = true } = Astro.props;
---

<html lang="en">
    <Head>
        <BaseHead title={title} description={description} permalink={permalink} />
    </Head>

    <body class="flex min-h-screen flex-col bg-background pb-24 dark:bg-background-dark">
        <main class="mx-8">
            <slot />
        </main>

        <CodeCopy />
        <SmoothScroll />

        {
            showTOC && (
                <>
                    <TOC />
                    <HeadingLinks />
                </>
            )
        }
    </body>
</html>
