---
import { Head } from 'astro-capo';
import BaseHead from '../components/BaseHead.astro';

import '../styles/tailwind.css';
import '../styles/typography.css';

export interface Props {
    title: string;
    description: string;
    permalink: string;
}

const { title, description, permalink } = Astro.props;
---

<html lang="en">
    <Head>
        <BaseHead title={title} description={description} permalink={permalink} />
    </Head>

    <body class="overflow-x-hidden dark:bg-page-bg-dark bg-page-bg dark:text-page-text-dark text-page-text">
        <main>
            <slot />
        </main>
    </body>
</html>
